.background {
  background-color: #c0db75;
  height: 20vh;
}

.inc {
  font-size: 30px;
  text-align: center;
  margin-top: 10vh;
}

@media (max-width: 599px) {
  .background {
    background-color: #c0db75;
    height: 20vh;
    width:100%;
  }
  
  .inc {
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
  }
}