/* 下部広告部分 */

.logo-white {
  width: 0vh;
  vertical-align: bottom;
}

.footer>p {
  font-size: 1px;
}

@media (max-width: 599px) {
  .logo-white {
    width: 100%;
    vertical-align: bottom;
  }
  
  .footer>p {
    font-size: 1px;
  }
  
}