.second-header {
  width: 100%;
  min-width: 800px;
  height: 130px;
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo2-btn {
  width: 40vw ;
  align-items: center;
  background: green;
  text-align: center;

}

.logo2-btn-text {
  color: #fff;
  display: block;
  font-size: 20px;
  text-decoration: none;
  margin-bottom: 5px;
}

.logo2-btn-icon {
  width: 30%;
}

@media(max-width: 599px){
  .second-header {
    width: 20vw;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .logo2-btn {
    width: 100vw ;
    align-items: center;
    background: green;
    text-align: center;
  
  }
  
  .logo2-btn-text {
    color: #fff;
    display: block;
    font-size: 20px;
    text-decoration: none;
    margin-bottom: 5px;
  }
  
  .logo2-btn-icon {
    width: 20vw;
  }
}