.second-header {
  width: 100%;
  height: 130px;
  background-color: #c0db75;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo2-btn {
  width: 40vw ;
  align-items: center;
  background: white;
  text-align: center;
  border-radius: 100%;
}

.logo2-btn-text {
  color: black;
  display: block;
  font-size: 20px;
  text-decoration: none;
  margin-bottom: 5px;
}

.logo2-btn-icon {
  width: 30%;
}

@media(max-width: 599px){
  .second-header {
    width: 100%;
    background-color: ;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .logo2-btn {
    width: 100% ;
    align-items: center;
    background: #c0db75;
    text-align: center;
  
  }
  
  .logo2-btn-text {
    color: #fff;
    display: block;
    font-size: 20px;
    text-decoration: none;
    margin-bottom: 5px;
  }
  
  .logo2-btn-icon {
    width: 20vw;
  }
}