.save-btn {
  width: 120px;
  background:orange;
  text-align: center;
  border: 1px solid black;
  border-radius: 100%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
}

.save-btn-text {
  color: black;
  display: block;
  font-size: 16px;
  text-decoration: none;
  margin-bottom: 5px;
  font-weight: bold;
}

.save-btn-icon {
  width: 40%;
}

@media (max-width: 599px) {
  .save-btn {
    width: 70px;
    background:orange;
    text-align: center;
    border: 1px solid black;
    border-radius: 100%;
    bottom: 16px;
    right: 16px;
    position: fixed;
    padding: 7px;
  }
  
  .save-btn-text {
    color: black;
    display: block;
    font-size: 8px;
    text-decoration: none;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .save-btn-icon {
    width: 30%;
  }
}