a {
  text-decoration: none;
}

.main {
  background:#c0db75;
}

.title-contents {
  width: 100vw;
  background-image: image-url('wood-2142309_1280.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  align-items: center;
  padding: 5vh 10vw;
  color:white;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
  border: 5px solid black;
}

.service-title {
  font-size: 12vh;
  color:#c0db75;
}

.service-explain {
  font-size: 5vh;
  line-height: 40px;
  color:#c0db75;
}

/* 商品一覧 */

.foodracks-contents {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.foodracks-contents>.title {
  font-size: 8vh;
  font-weight: bold;
  color: #c0db75;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
  margin: 5vh ;
}

.foodracks-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.foodracks-lists>.list {
  padding: 5vw;
  background-color:#c0db75;
  border: 3px solid black;
}

.foodracks-img {
  width: 50vw;
  height: 70vh;
  border: 2px solid black;
}

.foodracks-info {
  background-color:#c0db75;
  color:black;
  width:50vw;
  border: 2px solid black;
}

.foodracks-name {
  font-size: 5vh;
}

.foodracks-memo {
  font-size: 4vh;
  display: flex;
  justify-content: space-between;
}

.food-img{
  width: 50vw;
  height: 50vh;
  border: 2px solid black;
}

.food-info{
  background-color:#c0db75;
  color:black;
  width:50vw;
  border: 2px solid black;
}

.food-name{
  font-size: 5vh;
}

.food-memo{
  font-size: 5vh;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 599px) {
  a {
    text-decoration: none;
  }
  
  .main {
    background:#c0db75;
  }
  
  .title-contents {
    width: 135vw;
    background-image: image-url('wood-2142309_1280.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    align-items: center;
    padding: 5vh 5px;
    color:white;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
    border: 5px solid black;
  }
  
  .service-title {
    font-size: 25px;
    color:#c0db75;
  }
  
  .service-explain {
    font-size: 16px;
    line-height: 30px;
    color:#c0db75;
  }
  
  /* 商品一覧 */
  
  .foodracks-contents {
    width: 10%;
    background-color: #FFF;
  }
  
  .foodracks-contents>.title {
    width:50%;
    font-size: 30px;
    line-height: 1.4vh;
    font-weight: bold;
    color: #c0db75;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
    text-align: center;
  }
  
  .foodracks-lists {
    width: 50%;
    flex-direction: column;
  }
  
  .foodracks-lists>.list {
    background-color:#c0db75;
    border: 3px solid black;
  }
  
  .foodracks-img {
    width: 50vw;
    height: 20vh;
    border: 2px solid black;
  }
  
  .foodracks-info {
    background-color:#c0db75;
    color:black;
    width:50vw;
    border: 2px solid black;
  }
  
  .foodracks-name {
    font-size: 13px;
  }
  
  .foodracks-memo {
    font-size: 13px;
  }
  
  .food-img{
    width: 50vw;
    height: 20vh;
    border: 2px solid black;
  }
  
  .food-info{
    background-color:#c0db75;
    color:black;
    width:50vw;
    border: 2px solid black;
  }
  
  .food-name{
    font-size: 13px;
  }
  
  .food-memo{
    font-size: 13vh;
    display: flex;
    justify-content: space-between;
  }
  .p{
    font-size: 13px;
  }
}