a {
  text-decoration: none;
}

.main {
  background:#f8f8f8;
}

.title-contents {
  width: 100vw;
  background-image: image-url('wood-2142309_1280.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 15vh 15vw;
  color:white;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.service-title {
  font-size: 12vh;
}

.service-explain {
  font-size: 2.5vh;
  line-height: 40px;
}

/* 商品一覧 */

.foodracks-contents {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}

.foodracks-contents>.title {
  font-size: 8vh;
  line-height: 1.4;
  font-weight: bold;
  color: black;
  margin: 5vh ;
}

.foodracks-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.foodracks-lists>.list {
  padding: 5vw;
  background-color:green;
}

.foodracks-img {
  width: 70vw;
  height: 70vh;
}

.foodracks-info {
  background-color:orange;
  color:black;
  width:70vw;
}

.foodracks-name {
  font-size: 5vh;
}

.foodracks-memo {
  font-size: 5vh;
  display: flex;
  justify-content: space-between;
}

.food-img{
  width: 90vh;
  height: 90vh;
}

.food-info{
  background-color:orange;
  color:black;
  width:49vw;
}

.food-name{
  font-size: 5vh;
}

.food-memo{
  font-size: 5vh;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 599px) {

  a {
    text-decoration: none;
  }
  
  .main {
    background:#f8f8f8;
  }
  
  .title-contents {
    width: 100vw;
    background-image: image-url('wood-2142309_1280.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 15vh 15vw;
    color:white;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
  }
  
  .service-title {
    font-size: 50px;
  }
  
  .service-explain {
    font-size: 2.5vh;
    line-height: 40px;
  }
  
  /* 商品一覧 */
  
  .foodracks-contents {
    width: 100vw;
    background-color: #FFF;
  }
  
  .foodracks-contents>.title {
    width: 30vw;
    font-size: 30px;
    line-height: 1.4;
    font-weight: bold;
    color: black;
    text-align: center;

  }
  
  .foodracks-lists {
    width: 100vw;
    flex-direction: column;
  }
  
  .foodracks-lists>.list {
    padding: 5vw;
    background-color:green;
    width: 100vw;
  }
  
  .foodracks-img {
    width: 80vw;
    height: 40vh;
  }
  
  .foodracks-info {
    background-color:orange;
    color:black;
    width:80vw;
  }
  
  .foodracks-name {
    font-size: 15px;
  }
  
  .foodracks-memo {
    font-size: 15px;
  }
  



  .food-img{
    width: 80vw;
    height: 20vh;
  }
  
  .food-info{
    background-color:orange;
    color:black;
    width:20vw;
  }
  
  .food-name{
    font-size: 5vh;
  }
  
  .food-memo{
    font-size: 5vh;
    display: flex;
    justify-content: space-between;
  }
  
}